@model WorkersAllVM

@if (Model.Workers.Count() <= 0)
{
    <h2>There are currently no coupons</h2>
}
else
{
    <div class="row align-items-center justify-content-center">
        <div class="col-3">
            <hr class="bg-dark" />
            <table class="table table-striped table-hover border">
                <thead class="thead-dark">
                    <tr class="">
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Taken</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Workers)
                    {
                        <tr>
                            <td><a asp-area="Administration" asp-controller="Worker" asp-action="Info" asp-route-id="@item.Id">@item.Name</a></td>
                            <td>@item.Age</td>
                            <td>@item.Taken</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <hr class="bg-dark" />
    <div>
        <a asp-area="Administration" asp-controller="Worker" asp-action="Create" class="btn btn-success btn ml-2">Create</a>
    </div>
}