@model HomePageVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-2 ">
        @if (Model.Sites.Count() > 0)
        {
            foreach (var item in Model.Sites)
            {
                <h3>@item.Name</h3>
                <h4>@item.Description</h4>
                <h4>@item.OpenTime</h4>
                <h4>@item.CloseTime</h4>
            }
        }
    </div>
    <div class="col-3 box"></div>
    <div class="col-3 box"></div>
    <div class="col-3 box"></div>
    <div class="col-3 box-taken"></div>
</div>
